.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap_item_title {
  text-align: center;
}
.wrap_item {
  display: block;
  max-width: 250px;
  width:100%;
  margin: 5px auto;
}
.image {
  display: block;
  max-width: 250px;
  height: auto;
  margin: 5px auto;
}
.button {
  display: block;
  width: 200px;
  margin: 15px auto;
  height: 35px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.button:hover {
  background-color: #eee;
}
